<application-header></application-header>
<ng-container *ngIf="employees.length > 0">
    <div class="hive-grid">
        <div
            class="hive-grid__item-wrapper"
            [class.hive-grid__item-wrapper-active]="employee.dialogOpen"
            app-hive-detail
            *ngFor="let employee of employees"
            [employee]="employee"
        ></div>
        <div *ngIf="employeeOpen()" class="hive-grid__backdrop"></div>
    </div>
</ng-container>

<app-button
    class="hive-admin-btn"
    type="secondary"
    iconName="edit"
    (click)="navigateToAdmin()"
></app-button>
