:host {
  background-color: #343434;
  display: block;
  min-height: 100vh;
  position: relative;
}

.hive-admin-btn {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.hive-grid {
  margin: 80px;
}
