:host {
  display: flex;
  align-items: center;
}

.header-dropdown {
  display: flex;
  position: relative;

  p {
    margin-right: 12px;
    font-family: "Barlow";
  }
}

button {
  background-color: transparent;
  border: none;
}

.header-dropdown__open {
  position: absolute;
  top: 46px;
  background-color: white;
  z-index: 999999;
  padding: 8px 16px;
  border-radius: 8px;
  right: 0;
  box-shadow: 1px 1px 8px 0px #00000040;

  p:hover {
    cursor: pointer;
  }
}

a {
  text-decoration: none;
  color:black;
}