<div class="hive-login__wrapper">
    <img
        class="hive-login__background-wrapper"
        src="assets/images/login-background.png"
    >

    <div class="hive-login__column">
        <h3 class="title">Welkom bij de Hive</h3>
        <p>
            Hier vind je een overzicht van al je collega's. Maecenas sed diam eget risus varius blandit sit amet non megna.
        </p>
        <p>Meld je aan met jouw Cronos account.</p>
        <app-button
            type="primary"
            (click)="signIn()"
        >
            Sign in with microsoft
        </app-button>
    </div>
</div>
